@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

.instrucoes {
  background-color: #D1D2D4;
  padding: 10px;
  font-size: 15px;
}

/*MENU ESQUERDO*/
.conteudo {
  display: flex;
  margin-top: 10px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.material-symbols-outlined {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.material-symbols-outlined:hover {
  color: #e0a800;
}

.menu-esquerdo {
  width: 200px;
  height: 415px;
  background-color: #D1D2D4;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  position: relative;
  transition: transform 0.3s ease; /*Faz a transição do abrir e fechar menu*/
}

.menu-esquerdo.fechado {
  transform: translateX(-171px); /* Deixa uma aba de ~30px visível */
}

#toggleMenu {
  position: absolute;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.menu-esquerdo ul {
  list-style: none;
  padding: 0;
}

.menu-esquerdo li {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 0px;
  transition: background-color 0.3s;
}

.menu-esquerdo li:hover {
  background-color: #E9E9E9;
}

.mais-btn {
  position: relative;
}

.mais {
  background-color: #D1D2D4;
  position: absolute; 
  right: 0;
  color: #000;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mais:hover {
  color: #e0a800;
}

/*IMAGEM*/
.imagem-cranio {
  position: relative;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.imagem-cranio img {
  width: 100%;
}

/*Espaços para soltar nomes*/
.drop-zone {
  width: 140px;
  height: 35px;
  background-color: #D1D2D4;
  position: absolute;
  border-radius: 0px;
}

.drop-zone.correto {
  border-color: green;
  background-color: #c8f7c5;
}

.drop-zone.errado {
  border-color: red;
  background-color: #f7c5c5;
}

/*COLUNA DIREITA*/
.menu-direito {
  width: 270px;
  height: 415px;
  background-color: #D1D2D4;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.respostas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.linha-respostas {
  display: flex;
  gap: 10px;
  padding: 0;
}

.draggable {
  font-size: 16px;
  padding: 2px 5px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 6px;
  cursor: grab;
}

.botoes {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.checar-btn, 
.dica-btn,
.reset-btn {
  background-color: #ffc107;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checar-btn:hover, 
.dica-btn:hover,
.reset-btn:hover {
    background-color: #e0a800;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }