@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #fff;
    /*background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

.instrucoes {
  background-color: #D1D2D4;
  padding: 10px;
  font-size: 15px;
}

/*MENU ESQUERDO*/
.conteudo {
  display: flex;
  margin-top: 10px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.material-symbols-outlined {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.material-symbols-outlined:hover {
  color: #e0a800;
}

.menu-esquerdo {
  width: 190px;
  height: 425px;
  background-color: #D1D2D4;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}

.menu-esquerdo ul {
  list-style: none;
  padding: 0;
}

.menu-esquerdo li {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 0px;
  transition: background-color 0.3s;
}

.menu-esquerdo li:hover {
  background-color: #E9E9E9;
}

.mais {
  /*falta posicionar para a direita*/
  background-color: #D1D2D4;
  color: #000;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 700;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mais:hover {
  color: #e0a800;
}

/*IMAGEM*/
.imagem-cranio {
  position: relative;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.imagem-cranio img {
  width: 100%;
}

/*Espaços para soltar nomes*/
.drop-zone {
  width: 100px;
  height: 30px;
  background-color: #D1D2D4;
  position: absolute;
  border-radius: 0px;
  /*border: 2px dashed transparent;*/
}

.drop-zone.correto {
  border-color: green;
  background-color: #c8f7c5;
}

.drop-zone.errado {
  border-color: red;
  background-color: #f7c5c5;
}*/

/*COLUNA DIREITA*/
.respostas {
  display: flex;
  gap: 10px;
  padding: 10px;
}
/*.respostas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.draggable {
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 6px;
  cursor: grab;
}

/* Botões 
.botoes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: #ffc107;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
*/